/*empieza el header*/
.header{
    background: #333;
    color:white;
    padding:2rem 0;
    position:fixed;
    left: 0;
    top:0;
    right:0;
}
.header a
{color:white;
text-decoration:none;
font-style: italic;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
}

.logo{ 
     width: 180px;
    height:150px;
    
}

.menu-icon{
    display:none;
}

.navegacion li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.navegacion > li {float:left;}
.navegacion li:hover > ul{display:block}
.navegacion li ul li {position:relative;}
.navegacion ul {
    margin:0;
    padding: 0;
    list-style: none;
}
.navegacion ul li {
    display: inline-block;
}
.navegacion ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navegacion ul li a:hover {
    background: #4a4a4a;
}
/*Termina el header*/